.footer {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  border-top: 1px solid getColor("LineColor");
  width: auto;
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
  &__rights {
    color: getColor("FontColorSecond");
    font-size: 12px;
    font-weight: 400;
    grid-column: 1/ 2;
    grid-row: 1 / 2;
  }
  &__template-creator {
    color: getColor("SeparatorColor");
    font-size: 14px;
  }
  &__form {
    margin: auto;
    padding: 15px;
    grid-column: 1/2;
    grid-row: 2 / 3;
    justify-self: center;
    display: grid;
  }
  &__input {
    border: 1px solid getColor("LineColor");
    width: 230px;
    height: 40px;
    font-size: 12px;
    color: getColor("PlainTextColor");
    padding: 12px;
  }

  &__button {
    @include UpperCase;
    font-size: 12px;
    height: 40px;
    width: auto;
    background-color: getColor("AccentColor");
    border: 0;
    font-weight: 700;
    color: getColor("FontColorFirst");
    padding: 0 35px;
    &:hover,
    :active {
      background-color: getColor("FontColorFirst");
      color: getColor("AccentColor");
      border: 3px solid getColor("AccentColor");
    }
  }
}

// TABLET

@media screen and (min-width: 768px) {
  .footer {
    &__container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
    &__rights {
      grid-column: 1/ 2;
      grid-row: 1 / 2;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
      justify-content: first baseline;
    }
    &__form {
      grid-column: -2/ -1;
      grid-row: 1 / 2;
      grid-template-columns: repeat(2, 1fr);

      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 2fr 150px;
      justify-self: end;
    }
    &__input {
      grid-row: 1/2;
      grid-column: -3/-2;
    }
    &__button {
      max-width: 150px;
      grid-row: 1/2;
      grid-column: -2/-1;
    }
  }
}

// DESCTOP

@media screen and (min-width: 1200px) {
}
