.team {
  &__container {
    display: grid;
    margin-bottom: 30px;
  }
  &__list {
    padding: 0;
    margin-bottom: 30px;
    padding-top: 60px;
    margin: 0;
    
  }

  &__item {
    width: 250px;
    height: auto;
    display: grid;
    justify-content: center;
    margin: auto;
  }
  &__photo {
    width: 250px;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
  }
  &__name {
    margin: 0;
    padding-top: 25px;
    font-weight: 500;
  }
  &__description {
    color: getColor("PlainTextColor");
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    margin: 0;
    margin-top: 15px;
    font-style: italic;
    padding-bottom: 20px;
  }
  &__img {
    width: 250px;
    height: auto;
    transition: $transition;
    // position: relative;
    // overflow: hidden;
  }
}

// overlay
.team__photo {
  position: relative;
  // display: inline-block;
}

.team__img {
  display: block;
  width: 100%;
  height: auto;
}

.team__photo:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    getColor("gradientColFirst"),
    getColor("gradientColSecond")
  );
  transition: $transition;
  z-index: 1;
}

.team__caption {
  position: relative;
  background-color: getColor("BackgroundMain");
  z-index: 2;
}

.team__social {
  display: grid;
  justify-content: center;
  align-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  gap: 0;
  transition: opacity 0.3s ease;
  z-index: 3;
}

.team__photo:hover .team__social {
  opacity: 1;
}

// .team__social li {
//   display: inline-block;
//   margin-right: 10px;
// }

.team__social {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  grid-row: 1fr;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.team__overlay:hover {
  width: 100%;
  height: 100%;
  background-color: linear-gradient(
    to top,
    getColor("gradientColFirst"),
    getColor("gradientColSecond")
  );
}

.team__photo:hover,
:active {
  box-shadow: 7px 7px 0px 4px getColor("AccentColor");
  transition: $transition;
}

.team__icon {
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
  font-size: 20px;
  background-color: getColor("SocialSecond");
  color: getColor("SocialFirst");
  margin: 0;
  row-gap: 0;
  &:hover,
  :active {
    background-color: getColor("SocialFirst");
    color: getColor("SocialSecond");
  }
}

.fa-facebook {
  background-color: getColor("SocialFirst");
  color: getColor("SocialSecond");
  &:hover,
  :active {
    background-color: getColor("SocialSecond");
    color: getColor("SocialFirst");
  }
}

@media screen and (min-width: 768px) {
  .team {
    &__item,
    &__img,
    &__photo {
      width: 380px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .team {
    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    &__item,
    &__img,
    &__photo {
      width: 290px;
      margin-top: 0;
    }
  }
}
